[Desktop Entry]
Name=LocalCraft
Comment=Manage local Minecraft servers
Exec=LocalCraft
Icon=com.moiCR.LocalCraft
Terminal=false
Type=Application
Categories=Game;Utility;
